{{> message}}

<div class="container">
  <div class="row">
    <div class="row col-md-8 col-xl-6 mx-auto">
      <div class="col-md-8">
        <div class="d-grid dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropMenu1">
            類別選擇
          </button>
          <ul class="dropdown-menu w-100" aria-labelledby="dropMenu1">
            {{#each categories as |category|}}
            <li>
              <a href="/expenses?category={{category.name}}" class="dropdown-item {{#if category.isSelected}}active{{/if}}">{{category.name}}</a>
            </li>
            {{/each}}
          </ul>
        </div> 
      </div>
      
      <div class="col-md-4">
        <form id="sortForm" action="/expenses?category={{category.name}}" method="get">
          <select name="sort" id="sort" class="form-select" onchange="document.getElementById('sortForm').submit()">
            <option selected disabled> 排序方式</option>
            <option value="none">不排序</option>
            <option value="ASC">按名稱(A->Z)</option>
            <option value="DESC">按名稱(Z->A)</option>
            <option value="amount_ASC">按價格(低->高)</option>
            <option value="amount_DESC">按價格(高->低)</option>
            <option value="date_ASC">按日期(舊->新)</option>
            <option value="date_DESC">按日期(新->舊)</option>
          </select>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row col-md-8 col-xl-6 mx-auto">
      <div class="col-md-8">
        <div class="d-flex align-items-center">
          <div>
            總金額:
          </div>
          <div class="mx-auto">
            <span class="display-1">{{totalAmount}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row col-md-8 col-xl-6 mx-auto">
      {{!-- item-1 --}}
      {{#each records as |record| }}
      <div class="col-md-8 mb-3">
        <div class="card">
          <div class="card-body d-flex">
            <div class="d-flex align-items-center me-2">
              {{!-- <img src="https://fontawesome.com/icons/home?style=solid"> --}}
              <i class="{{record.categoryIcon}} fa-2xl p-2"></i>
            </div>
            <div>
              <h5 class="card-title">{{record.name}}</h5>
              <h6 class="card-subtitle">{{record.date}}</h6>
            </div>
            <div class="d-flex align-items-center ms-auto">
              {{record.amount}}
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center col-md-4">
        <div class="me-2">
          <a href="/expenses/edit/{{record.id}}">
            <button>修改</button>
          </a>
        </div>
        <div>
          <form action="/expenses/{{record.id}}?_method=delete" method="post">
            <button>刪除</button>
          </form>
        </div>
      </div>
      {{/each}}
      {{!-- item-2 --}}
      {{!-- <div class="col-md-8 mb-3">
        <div class="card">
          <div class="card-body d-flex">
            <div class="d-flex align-items-center me-2">
              <img src="https://fontawesome.com/icons/home?style=solid">
            </div>
            <div>
              <h5 class="card-title">支出1</h5>
              <h6 class="card-subtitle">123456</h6>
            </div>
            <div class="d-flex align-items-center ms-auto">
              200
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center col-md-4">
        <div class="me-2">
          <a href="">
            <button>修改</button>
          </a>
        </div>
        <div>
          <form action="">
            <button>刪除</button>
          </form>
        </div>
      </div> --}}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-8 col-xl-6 mx-auto d-flex justify-content-center">
      <a href="/expenses/new">
        <button>新增支出</button>
      </a>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-8 col-xl-6 mx-auto d-flex justify-content-center">
      <a href="/expenses?category={{categoryName}}&page={{prevPage}}&sort={{sort}}">
        <button>prev</button>
      </a>
      <span>{{currentPage}} / {{totalPage}}</span>
      <a href="/expenses?category={{categoryName}}&page={{nextPage}}&sort={{sort}}">
        <button>next</button>
      </a>
    </div>
  </div>
</div>